<div class="ui tiered menu">
    <nav class="ui menu" id="main">
        <a class="item" href="" data-transition="push" id="show_side_menu"><i class="icon ion-navicon-round"></i>More</a>
        <a href="" ui-sref="messages" class="item"><i class="icon mail"></i>Messages<div class="ui red round label">{{messages.length}}</div></a>
        <div class="right menu">
            <div class="item">
                <i class="icon ion-person"></i>
            </div>
            <div class='item'><i class="icon calendar"></i>{{date | date:'d-MM-yyyy'}}</div>
            <a ng-click="signOut()" class="item"><i class="icon ion-log-out"></i>Logout</a>
        </div>
    </nav>
</div>
<script>
    $('#show_side_menu').click(function(){
        //        alert('hi');
        $('#main-side-menu').sidebar('toggle');
    });
</script>